.app {
  width: 100%;
  height: 100vh;
  padding: 2rem;
  overflow: hidden;
  position: relative;
}

.shape1 {
  position: absolute;
  top: 20%;
  left: 100%;
  width: 30%;
  height: 80%;
  background-color: var(--color-purple-900);
  filter: blur(250px);
  transform: rotate(45deg);
  opacity: 0.75;
}
